html,
body,
#__next,
.App {
  background-color: #1c2128;
  color: #acbac7;
}

.contents-padding-top {
  padding-top: 20px;
}

.contents-margin-top {
  margin-top: 10px;
}

a {
  color: #acbac7;
  text-decoration-line: none;
}

a:hover {
  color: white;
}

